<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="dev"
         connectionString="Url=https://tiagodevs.crm4.dynamics.com; Username=tfreitas@tiagodevs.onmicrosoft.com; Password=Password!12345; authtype=Office365"/>
  </connectionStrings>
</configuration>